.landing {
  font-family: "Didact Gothic", sans-serif;
  .intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 50%;
    top: 25%;
    width: 100%;
    transform: translate(-50%, -50%);
    h1 {
      color: white;
      font-size: 40px;
      margin: 10px auto;
    }
    position: fixed;
    z-index: 100;
  }
  nav {
    height: 40px;
  }
}

.slide1,
.slide2,
.slide3 {
  position: absolute;
  width: 100%;
  height: 50%;
  animation: appear 1s;
  animation-fill-mode: forwards;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slide1 {
  background: url(../../Images/bread1.jpg) no-repeat center;
  background-size: cover;
  animation: fade 15s infinite;
}
.slide2 {
  background: url(../../Images/bread2.jpg) no-repeat center;
  background-size: cover;
  animation: fade2 15s infinite;
}
.slide3 {
  background: url(../../Images/bread3.jpg) no-repeat center;
  background-size: cover;
  animation: fade3 15s infinite;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.welcome {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 54%;
  div {
    display: flex;
    flex-direction: column;
    width: 85%;
    border-top: 2px solid brown;
    border-bottom: 2px solid brown;
    text-align: center;
    padding: 15px;
    h1 {
      // padding-top: 10px;
      font-size: 45px;
    }
    p {
      align-self: center;
      width: 500px;
      font-size: 20px;
      line-height: 1.5em;
      padding: 15px 0;
    }
  }
}
.foot {
  font-family: "Didact Gothic", sans-serif;
  width: 100%;
  background-color: brown;
  opacity: 0.85;
  height: 30px;
  bottom: 0;
  position: absolute;
  text-align: center;
}
