.landing {
  font-family: "Didact Gothic", sans-serif;
  span {
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 50%;
    top: 30%;
    width: 100%;
    transform: translate(-50%, -50%);
    h1 {
      color: white;
      font-size: 40px;
      margin: 10px auto;
    }
    position: fixed;
    z-index: 1000;
  }
  .down-landing {
    font-size: 70px;
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: black;
    background: transparent;
    z-index: 1000;
    border: none;
  }
}
.slide1,
.slide2,
.slide3 {
  position: absolute;
  width: 100%;
  height: 50%;
  animation: appear 1s;
  animation-fill-mode: forwards;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slide1 {
  background: url(../../Images/bread1.jpg) no-repeat center;
  background-size: cover;
  animation: fade 15s infinite;
}
.slide2 {
  background: url(../../Images/bread2.jpg) no-repeat center;
  background-size: cover;
  animation: fade2 15s infinite;
}
.slide3 {
  background: url(../../Images/bread3.jpg) no-repeat center;
  background-size: cover;
  animation: fade3 15s infinite;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
