.landing {
  font-family: "Didact Gothic", sans-serif;
  height: 100vh;
  .intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 50%;
    top: 25%;
    width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 100;
    position: absolute;
    h1 {
      color: white;
      font-size: 40px;
      margin: 10px auto;
    }
  }
  .navbar-landing {
    font-family: "Didact Gothic", sans-serif;
    background-color: white;
    border-bottom: 2px solid rgb(199, 158, 104);
    width: 100%;
    position: fixed;
    font-size: 20px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    height: 40px;
    .drawerHidden {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    button {
      display: none;
    }
    .links {
      margin-top: 5px;
    }
    a {
      margin: 10px;
      color: black;
      text-decoration: none;

      &:hover {
        color: rgb(199, 158, 104);
      }
    }
  }

  @media (max-width: 800px) {
    .navbar-landing {
      width: 0px;
      height: 100vh;
      button {
        display: initial;
        left: 10px;
        border: none;
        font-size: 20px;
        height: 40px;
        position: absolute;
        z-index: 2;
        background: transparent;
        color: rgb(199, 158, 104);
        &:hover {
          color: black;
        }
      }
    }
    .drawerOpen {
      background: white;
      height: 100%;
      transition: 0.5s;
      transform: translate(100px);
      padding-left: 20px;
      margin: 0;

      button {
        top: 0px;
        left: 180px;
        font-size: 40px;
        padding: 0;
      }
      .links {
        transition: 0.3s;
        width: 200px;
        padding-top: 40px;

        display: flex;
        flex-direction: column;
        a {
          padding: 10px;
        }
      }
    }
    .drawerHidden {
      img {
        display: none;
      }
      .links {
        display: none;
      }
    }
  }
}

.slide1,
.slide2,
.slide3 {
  position: absolute;
  width: 100%;
  height: 50%;
  animation: appear 1s;
  animation-fill-mode: forwards;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slide1 {
  background: url(../../Images/bread1.jpg) no-repeat center;
  background-size: cover;
  animation: fade 15s infinite;
}
.slide2 {
  background: url(../../Images/bread2.jpg) no-repeat center;
  background-size: cover;
  animation: fade2 15s infinite;
}
.slide3 {
  background: url(../../Images/bread3.jpg) no-repeat center;
  background-size: cover;
  animation: fade3 15s infinite;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.welcome {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 50%;
  div {
    display: flex;
    flex-direction: column;
    width: 85%;
    border-top: 2px solid rgb(199, 158, 104);
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    h1 {
      padding-top: 10px;
      font-size: 45px;
    }
    p {
      width: 90%;
      align-self: center;
      font-size: 20px;
      line-height: 1.8em;
      padding: 15px 0;
      margin-bottom: 10px;
    }
  }
}
.foot {
  font-family: "Didact Gothic", sans-serif;
  width: 100%;
  background-color: rgb(199, 158, 104);
  height: 30px;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    // padding-top: 5px;
    display: flex;
    justify-content: space-evenly;
    // align-items: center;
    width: 90%;
  }
  span a {
    text-decoration: none;
    color: white;
    &:hover {
      color: black;
    }
  }
}

@media (max-width: 550px) {
  .landing {
    .intro {
      h1 {
        font-size: 35px;
        text-align: center;
      }
    }
  }
  .welcome {
    div {
      border-top: 1px solid rgb(199, 158, 104);
      padding: 0px;
      margin-bottom: 25px;
      h1 {
        font-size: 30px;
      }
      p {
        line-height: 1.2em;
        width: 100%;
        font-size: 18px;
        padding: 10px;
      }
    }
  }
}

@media (max-width: 320px) {
  .slide1,
  .slide2,
  .slide3 {
    position: absolute;
    width: 100%;
    height: 280px;
  }

  .landing {
    .intro {
      h1 {
        font-size: 30px;
      }
    }
  }
  .welcome {
    top: 280px;
    div {
      border-top: 1px solid rgb(199, 158, 104);
      padding: 0px;
      margin-top: 10px;
      margin-bottom: 0px;
      h1 {
        padding-top: 5px;
        font-size: 30px;
      }
      p {
        line-height: 1.2em;
        width: 100%;
        font-size: 16px;
        padding: 5px;
      }
    }
  }
}
