.about-container {
  font-family: "Didact Gothic", sans-serif;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  h1 {
    font-size: 40px;
  }
  div {
    div {
      text-align: center;
      padding: 5px;
      width: 100%;
      background-color: rgb(199, 158, 104);
    }
    h2 {
      font-size: 30px;
      color: white;
    }
  }
  p {
    font-size: 20px;
    width: 800px;
  }
  div {
    padding: 20px;
  }
  .video {
    margin-bottom: 20px;
    iframe {
      width: 854px;
      height: 480px;
    }
  }
}

@media (max-width: 930px) {
  .about-container {
    h2 {
      width: 95%;
    }
    p {
      width: 95%;
    }
    .video {
      iframe {
        width: 640px;
        height: 360px;
      }
    }
  }
}

@media (max-width: 650px) {
  .about-container {
    .video {
      iframe {
        width: 500px;
        height: 270px;
      }
    }
  }
}

@media (max-width: 450px) {
  .about-container {
    .video {
      iframe {
        width: 426px;
        height: 240px;
      }
    }
  }
}

@media (max-width: 375px) {
  .about-container {
    .video {
      iframe {
        width: 375px;
        height: 190px;
      }
    }
  }
}
