nav {
  font-family: "Didact Gothic", sans-serif;
  background-color: white;
  border-bottom: 2px solid brown;
  width: 100%;
  position: fixed;
  font-size: 20px;
  z-index: 1000;
  height: 165px;
  display: flex;
  justify-content: center;
  .drawerHidden {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  button {
    display: none;
  }
  div {
    margin-top: 5px;
  }
  a {
    margin: 0 10px;
    color: black;
    text-decoration: none;

    &:hover {
      color: brown;
    }
  }
}

@media (max-width: 800px) {
  nav {
    width: 0px;
    height: 100vh;
    button {
      display: initial;
      left: 10px;
      border: none;
      font-size: 20px;
      height: 40px;
      position: absolute;
      z-index: 2;
      background: transparent;
      color: brown;
      &:hover {
        color: black;
      }
    }
  }
  .drawerOpen {
    background: white;
    height: 100%;
    transition: 0.5s;
    transform: translate(100px);
    padding-left: 20px;
    margin: 0 auto;

    button {
      top: 0px;
      left: 180px;
      font-size: 40px;
      padding: 0;
    }
    .links {
      transition: 0.3s;
      width: 200px;
      padding-top: 40px;

      display: flex;
      flex-direction: column;
      a {
        padding: 10px;
      }
    }
  }
  .drawerHidden {
    img {
      display: none;
    }
    .links {
      display: none;
    }
  }
}
