footer {
  font-family: "Didact Gothic", sans-serif;
  width: 100%;
  background-color: brown;
  height: 30px;
  color: white;
  div {
    padding-top: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
  }
  span a {
    text-decoration: none;
    color: white;
    &:hover {
      color: black;
    }
  }
}
