footer {
  font-family: "Didact Gothic", sans-serif;
  width: 100%;
  background-color: brown;
  height: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    justify-content: space-evenly;

    width: 90%;
  }
  span a {
    text-decoration: none;
    color: white;
    &:hover {
      color: black;
    }
  }
}
