.workshop-container {
  font-family: "Didact Gothic", sans-serif;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 1.5em;
  h1 {
    font-size: 40px;
  }
  p {
    line-height: 1.5em;
    text-align: center;
    font-size: 20px;
    width: 800px;
    padding: 20px;
  }
}
.order-container {
  line-height: 1.2em;
  font-size: 20px;
  width: 850px;
  p {
    color: brown;
    font-weight: bold;
    padding: 0;
    ul {
      width: 600px;
      text-align: start;
    }
  }
}
.line {
  width: 1100px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}
.workshops-list {
  font-family: "Didact Gothic", sans-serif;
  div {
    padding: 20px 0 30px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 2px solid brown;
    span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h6 {
        font-weight: bold;
        color: brown;
        font-size: 30px;
      }
      p {
        text-align: start;
        font-size: 20px;
        width: 700px;
      }
    }
    img {
      width: 380px;
      height: 380px;
      object-fit: cover;
      animation: appear 1.5s;
      animation-fill-mode: forwards;
    }
    @keyframes appear {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1150px) {
  .line {
    margin-bottom: 0px;
    width: 95%;
  }
  .workshops-list {
    width: 95%;
    div {
      width: 100%;
      display: flex;
      align-items: center;

      margin: 0px;
      border-bottom: 1px solid brown;
      img {
        width: 360px;
        height: 360px;
      }
      span {
        p {
          font-size: 19px;
          width: 90%;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .workshop-container {
    p {
      font-size: 18px;
      width: 90%;
    }
  }
  .order-container {
    width: 90%;
    font-size: 18px;
    line-height: 1.2em;
    ul {
      margin-left: 25px;
      padding-bottom: 10px;
      li {
        width: 85%;
      }
    }
    p {
      margin: 0 auto;
    }
  }

  .workshops-list {
    padding-top: 10px;
    div {
      flex-direction: column;
      padding: 0px;
      margin-bottom: 5px;
      img {
        order: 1;
        width: 350px;
        height: 350px;
      }
      span {
        order: 2;
        h6 {
          font-size: 28px;
          padding-top: 10px;
        }
        p {
          font-size: 18px;
          width: 90%;
        }
      }
    }
  }
}
